@charset "utf-8";

/* # auto_3cols
---------------------------------------------------------------------------- */

ul.productList {
	clear: both;
	padding-top: 10px;
	width: 576px;
}

ul.productList li ul.subCol {
	overflow: hidden;
}

ul.productList li ul.subCol li {
	border: 1px solid #b0b0b0;
	border-bottom: none;
	float: left;
	display: inline;
	margin: 0 10px -1000px 0;
	padding: 10px 10px 1000px 10px;
	width: 160px;
}

ul.productList li ul.child li {
	background: pink;
	border: 1px solid #000;
	margin: 0 5px 5px 0;
	padding: 0 5px 0 0;
	text-align: center;
	width: 30px;
}

ul.productList li ul.subCol li p {
	padding-bottom: 5px;
}

ul.productList li ul.subCol li p img {
	width: 160px;
}

ul.productList li ul.subCol li p span {
	display: block;
} 

ul.productList li.bgCol3B {
	background: url(../common/images/bg_3cols_b.gif) no-repeat 0 bottom;
	margin: 0 0 10px 0;
	padding-bottom: 15px;
}

* html ul.productList li.bgCol3B {
	margin-bottom: 8px;
}

*:first-child + html ul.productList li.bgCol3B {
	margin-bottom: 8px;
}

ul.productList li.size1 {
	width: 190px;
}

ul.productList li.size2 {
	width: 384px;
}

ul.productList li.size3 {
	width: 576px;
}


/* # clearfix 
---------------------------------------------------------------------------- */

ul.productList li ul.child,
ul.productList li.bgCol3B ul {
	zoom: 1;
}

ul.productList li ul.child:after,
ul.productList li.bgCol3B ul:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

