@charset "utf-8";

/* Table Of Contents
----------------------------------------

# General Elements
# body
# layout
# header
# gNav
# pageBody
# content
# sidebar
# footer
# clearfix
# common classes

----------------------------------------*/


/* # General Elements
---------------------------------------------------------------------------- */

a    { outline: none; }
a:hover   {  }

html.smallView {
	font-size: 14px;
}

html.mediumView {
	font-size: 16px;
}

html.largeView {
	font-size: 18px;
}

html.mediumView dl#fontSize dd ul li img,
html.largeView dl#fontSize dd ul li img {
	visibility: hidden;
}

html.mediumView dl#fontSize dd ul li a,
html.largeView dl#fontSize dd ul li a {
	display: block;
	height: 18px;
	width: 19px;
}

html.largeView dl#fontSize dd ul li#smallFont a {
	background: url(../common/images/txt_small.gif) no-repeat 0 0;
}

html.largeView dl#fontSize dd ul li#smallFont a:hover {
	background: url(../common/images/txt_small_o.gif) no-repeat 0 0;
}

html.largeView dl#fontSize dd ul li#mediumFont a {
	background: url(../common/images/txt_medium.gif) no-repeat 0 0;
}

html.largeView dl#fontSize dd ul li#mediumFont a:hover {
	background: url(../common/images/txt_medium_o.gif) no-repeat 0 0;
}

html.largeView dl#fontSize dd ul li#largeFont a {
	background: url(../common/images/txt_large_o.gif) no-repeat 0 0;
}

html.mediumView dl#fontSize dd ul li#smallFont a {
	background: url(../common/images/txt_small.gif) no-repeat 0 0;
}

html.mediumView dl#fontSize dd ul li#smallFont a:hover {
	background: url(../common/images/txt_small_o.gif) no-repeat 0 0;
}

html.mediumView dl#fontSize dd ul li#mediumFont a {
	background: url(../common/images/txt_medium_o.gif) no-repeat 0 0;
}

html.mediumView dl#fontSize dd ul li#largeFont a {
	background: url(../common/images/txt_large.gif) no-repeat 0 0;
}

html.mediumView dl#fontSize dd ul li#largeFont a:hover {
	background: url(../common/images/txt_large_o.gif) no-repeat 0 0;
}


/* # body
---------------------------------------------------------------------------- */

body {
	background-color: #fff;
	color: #000;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	line-height: 1.5;
}


/* # layout
---------------------------------------------------------------------------- */

div#layout {
	margin: 0 auto;
	width: 940px;
}


/* # header
---------------------------------------------------------------------------- */

div#header {
}

div#header .hSection {
	padding-top: 20px;
}

div#header dl#fontSize {
	background: #ccc;
	font-size: 0;
	height: 21px;
	width: 121px;
}

div#header dl#fontSize dt {
	float: left;
	width: 64px;
}

div#header dl#fontSize dd {
	float: left;
	padding-top: 1px;
	width: 57px;
}

div#header dl#fontSize dd ul li {
	float: left;
	width: 19px;
}


/* # gNav
---------------------------------------------------------------------------- */

div#gNav {
}


/* # pageBody
---------------------------------------------------------------------------- */

div#pageBody {
	clear: both;
}


/* # content
---------------------------------------------------------------------------- */

div#content {
}


/* # sidebar
---------------------------------------------------------------------------- */

div#sidebar {
}


/* # footer
---------------------------------------------------------------------------- */

div#footer {
}


/* # clearfix
---------------------------------------------------------------------------- */

div#header dl#fontSize,
div#header dl#fontSize dd ul,
div#pageBody {
	zoom: 1;
}

div#header dl#fontSize:after,
div#header dl#fontSize dd ul:after,
div#pageBody:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}


/* # common classes
---------------------------------------------------------------------------- */

