@charset "utf-8";

/* Table Of Contents
----------------------------------------

# General Elements
# gNav
# pageBody
# content
# sidebar
# clearfix
# common classes

----------------------------------------*/


/* # General Elements
---------------------------------------------------------------------------- */



/* # gNav
---------------------------------------------------------------------------- */

div#gNav {
}


/* # pageBody
---------------------------------------------------------------------------- */

div#pageBody {
}


/* # content
---------------------------------------------------------------------------- */

div#content div.sectionA {
	padding-bottom: 20px;
}

div#content div.sectionA h2 {
	font-size: 120%;
}

div#content div.sectionA ul.itemList li {
	background: url(../common/images/ico_star.gif) no-repeat 0 3px;
	padding-left: 14px;
}



/* # sidebar
---------------------------------------------------------------------------- */

div#sidebar {
}


/* # clearfix
---------------------------------------------------------------------------- */


/* # common classes
---------------------------------------------------------------------------- */

