<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>HTML5</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="../common/css/import.css" rel="stylesheet" type="text/css" media="screen,print" />
<link href="css/2nd_level.css" rel="stylesheet" type="text/css" media="screen,print" />
<link href="../common/css/print.css" rel="stylesheet" type="text/css" media="print" />
<link rel="contents" href="/" title="ホーム" />
<script type="text/javascript" src="../common/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="../common/js/script.js"></script>
<!--[if lte IE 8]><script src="../common/js/ie.js" type="text/javascript"></script><![endif]-->
</head>

<body>
<section id="layout">
<header>
<h1 id="description">見出し１</h1>
<p id="logo"><a href="../index.html"><img src="../common/images/logo.gif" alt="" /></a></p>
<section>
<p><a href="#"><img src="../common/images/txt_hcontact.gif" alt="" /></a></p>
<nav class="hNav">
<ul>
<li><a href="#">リストリストリスト</a></li>
<li><a href="#">リストリストリスト</a></li>
<li><a href="#">リストリストリスト</a></li>
<li><a href="#">リストリストリスト</a></li>
</ul>
<!-- / class hNav --></nav>
</section>
</header>

<nav id="gNav">
<dl>
<dt>主なカテゴリ</dt>
<dd>
<ul>
<li id="gNav01"><a href="../index.html"><img src="../common/images/gnav_gnav01.gif" alt="" /></a></li>
<li id="gNav02"><a href="index.html"><img src="../common/images/gnav_gnav02.gif" alt="" /></a></li>
<li id="gNav03"><a href="#"><img src="../common/images/gnav_gnav03.gif" alt="" /></a></li>
<li id="gNav04"><a href="#"><img src="../common/images/gnav_gnav04.gif" alt="" /></a></li>
<li id="gNav05"><a href="#"><img src="../common/images/gnav_gnav05.gif" alt="" /></a></li>
</ul>
</dd>
</dl>
<!-- / id gNav --></nav>

<section id="pageBody">
<article>
<ul class="topicPath">
<li><a href="../index.html">HOME</a></li>
<li class="last">2nd level</li>
</ul>
<section>
<h2 class="bHead">2nd_level</h2>
</section>

<p class="pageTop"><a href="#layout">このページの先頭へ</a></p>
</article>

<aside>
<section>
<h2 class="bHead">2nd_level</h2>
<nav class="lNav">
<ul>
<li><a href="3rd_level.html">3rd_level</a></li>
<li><a href="#">リストリストリスト</a></li>
<li><a href="#">リストリストリスト</a></li>
<li><a href="#">リストリストリスト</a></li>
</ul>
</nav>
</section>

<section>
<ul class="banner">
<li><a href="#"><img src="../common/images/bnr_list01.gif" alt="" class="imgover" /></a></li>
<li><a href="#"><img src="../common/images/bnr_list02.gif" alt="" class="imgover" /></a></li>
<li><a href="#"><img src="../common/images/bnr_list03.gif" alt="" class="imgover" /></a></li>
<li><a href="#"><img src="../common/images/bnr_list04.gif" alt="" class="imgover" /></a></li>
</ul>
</section>

<section>
<h3>見出し２</h3>
<div class="itemContent">
<p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
<p class="itemLink"><a href="#">テキスト</a></p>
</div>
</section>
</aside>
<!-- / id pageBody --></section>

<footer>
<section id="footerInner">
<section>
<p id="copyright">Copyright © 2010 IGROVE. All rights reserved.</p>
<p class="fContact"><a href="#"><img src="../common/images/txt_fcontact.gif" alt="" /></a></p>
</section>

<nav class="fNav">
<ul>
<li><a href="#">リストリストリスト</a></li>
<li><a href="#">リストリストリスト</a></li>
<li><a href="#">リストリストリスト</a></li>
<li><a href="#">リストリストリスト</a></li>
</ul>
<!-- / class fNav --></nav>
</section>
</footer>
<!-- / id layout --></section>
</body>
</html>